$font-default: envy, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$font-cubiq: cubiq;
$font-cubiq-path: "/font/miso-cubiq.woff";

@font-face {
	font-family: '#{$font-cubiq}';
	src: url('#{$font-cubiq-path}') format('woff');
	font-weight: normal;
	font-style: normal;
}

$font-envy: envy;

@font-face {
	font-family: '#{$font-envy}';
	src: url('/font/EnvyCodeR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

