<div id="gotop">
    <div class="gotop_bg_color">
        <div class="gotop_bg_image"></div>
    </div>
</div>
<script type="text/javascript">
    (function($){
        var gotopEl = $('#gotop');
        gotopEl.click(function() {
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > 0) {
                gotopEl.fadeIn();    
            } else {
                gotopEl.fadeOut();
            }
        });
    })(jQuery);
</script>

