<audio preload loop>
    <source src="/media/background-music.mp3">
</audio>
<div id="music_player">
    <div class="music_bg_color">
        <div class="music_bg_image"></div>
    </div>
</div>
<script type="text/javascript">
    (function($){
        var isPlaying = localStorage.isPlaying || true;
        var el = $('.music_bg_image');
        var audioEl = $('audio')[0];
        $('#music_player').click(function() {
            el.fadeOut();
            if (isPlaying) {
                el.css('background-position', '-207px -67px');
                el.fadeIn(function() { audioEl.pause(); });
            } else {
                el.css('background-position', '-230px -67px');
                el.fadeIn(function() { audioEl.play(); });
            }
            isPlaying = !isPlaying;
            localStorage.isPlaying = isPlaying;
        }).trigger('click');
    })(jQuery);
</script>

